<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="длина круга" value="50" />
    <add key="грузовая Kamaz" value="160,0/5/25" />
    <add key="грузовая Tatra" value="150/10/19" />
    <add key="легковая Ferrari" value="300/15/2" />
    <add key="легковая Lada" value="205/20/5" />
    <add key="мотоцикл Yamaha" value="140,5/25/0" />
    <add key="мотоцикл Ural" value="115/30/1" />
  </appSettings>
</configuration>